.burger {
  width: 32px;
  height: 30px;
  position: fixed;
  top: 25px;
  left: 25px;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  cursor: pointer;

}

.burger div {
  width: 30px;
  height: 5px;
  background-color: #333 ;
  border-radius: 30px;
  transition: all 0.2s linear;
}

