.products-container {
  display: flex;
}

 .about-image {
  text-align: center;
  background: rgba(250, 193, 107, 0.5);
  cursor: pointer;
  width: 50%;
  margin: 30px;
  border-radius : 20px;
  border: 1px solid rgba(250, 193, 107, 0.5);
}
.about-image img{
  width: 100%;
}

.about-image p{
  padding: 15px;

}