* {
  box-sizing: border-box;
 
}
h1{
  text-align: center;
  font-size:42px;
  font-weight: 600;
  line-height: 51.2px;
}

.container-about {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-template-columns:60px 60px ;

}
.card-about {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  height: 339;
  width: 458px;
  background-color:rgba(250, 193, 107, 0.5);
}
.card-header-about-image {
  width: auto;
  height: 200px;
  object-fit: cover;
}
.card-body-about {
  display: flex;
  justify-content: space-between;
	padding: 1.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
  
}

.card-body-about p {
  font-size: 18px;
  margin: 0 0 40px;
}