* {
  box-sizing: border-box;
  margin:0; padding:0; 
  transition: all .2s linear;
  font-family: 'Montserrat', sans-serif;;
 
}

h1{
  text-align: center;
  font-size:42px;
  font-weight: 600;
  line-height: 51.2px;
}

.container {
 max-width:1200 px;
 margin:0 auto;
 padding: 3rem 2 rem;
}

.container .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rex, 1fr));
  gap:2rem;

}
.container .products-container .about-image {
  text-align: center;
  padding: 3rem 3rem;
  background: rgba(250, 193, 107, 0.5);
  cursor: pointer;
}
.container .products-container .about-image .img{
  height: 339px;
  width: 339px;


}