.donateContainer h1 {
  margin: 0;
  padding: 0;
}

.donateContainer {
 width: 100%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}



.donateContainer img{
  margin: 0 auto;
  width: 924px;
  height: 257px;
  margin-top: 59px;
}

.donateText {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 924px;
}

.donateText h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 51px;
  margin-bottom: 15px;
  margin-top: 59px;
}

.donateText p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.donateText span {
  font-weight: bold
}

.topText {
  margin-bottom: 40px;
}

.fridgecount-text{  
  font-size: 2.8rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  margin-bottom: 27px;
}

.orglink-container{
  display:flex;
  justify-content: space-between;
  width: 924px;
  margin: 0 auto;
  margin-top: 120px;
}

.orglink-container h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 38px;
}

.fridgeContainer{
  display: flex;
  flex-direction: column;
}

.fridgeContainer img {
  width: 350px;
}

.donatebutton{
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  color: #101828;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  background-color: #F9B686;
  border: 1px #F9B686;
  box-shadow: 0px 3px 25px rgba(102, 112, 133, 0.25);
  border-radius: 20px;
  height: 54px;
  width: 390px;
  cursor: pointer;
}
.donatebutton:hover {
  font-family: 'Montserrat', sans-serif;
  background-color: #f1b587;
  cursor: pointer;
  transition: 0.3s ease-in;
}


@media screen and (max-width:1010px) {

 .orglink-container {
   flex-direction: column;
   align-items: center;
   width: 100%;
 }

 .donateText {
   width: 100%;
 }

 .donateContainer img {
   width: 700px;
 }

 .fridgeContainer {
   align-items: center;
 }

 .fridgeContainer img, .fridgeContainer button, .fridgeImage img {
   width: 100%;
 }

 .fridgeImage img {
   margin-top: 35px;
   margin-bottom: 35px;
 }

 @media screen and (max-width:765px) {
  .donateContainer img {
    display: none;
  }
 }
  
}

