.pageTitle{
  font-size:42px ;
  font-weight: 600;
  margin-bottom: 25px;
  
}
.recipesHeader{
  margin-top: 59px;
  display: flex;
  width: 100%;
  justify-content: center;
  left: 258px;
}

.searchHeader{
  padding-left: 55px;
  
}

.app__input{
  font-family: 'Montserrat', sans-serif;
  background: #FEFEFE;
  border: 1px solid rgba(81, 103, 155, 0.5);
  box-sizing: border-box;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 25px rgba(102, 112, 133, 0.25));
  width: 467px;
  height:52px;
  font-size: 24px;
  color: #000;
  padding: 6px 100px 6px 16px;
  opacity: 0.5;
  line-height: 29px;
  }

.Search-Options{
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;

}
/* 
.app__recipes {
  flex-wrap: wrap;
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
} */

.basket{
  position:relative;
  width: 25rem;
  z-index: -1;
  height: 100%;
}

.Search-Options{
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;

}
.noFavourites{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  display: flex;
  position:relative;
}
.gotoRecipesButton {
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  color: #101828;
  font-weight: 500;
  font-size: 2.0rem;
  line-height: 25px;
  background-color: #F9B686;
  border: 1px #F9B686;
  box-shadow: 0px 3px 25px rgba(102, 112, 133, 0.25);
  border-radius: 20px;
  height: 54px;
  width: 18rem;
  cursor: pointer;
  transition: ease-out 300ms;
}
.gotoRecipesButton button:hover {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(81, 103, 155, 0.3);
  cursor: pointer;
  transition: 0.3s ease-in;
}


@media screen and (max-width: 896px) {
  .recipesHeader{
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
  }

  .searchHeader {
    padding-left: 0 ;
  }

  .app__input{
    width: 100%;
    
  }

  .app__input::placeholder {
    font-size: 1.4rem;
  }
  
}