.HeaderContainer{
  display: flex;
}
.banner{
  position: absolute; 
  top:300px;
  left: 0; 
  right: 0; 
  bottom: 100px; 
  margin: auto; 
  min-width: 20%;
  min-height: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.column1 {
  float: left;
  width: 50%;
  margin-top:26%;
  padding-right: 30px;
}
.column2 {
  float: left;
  width: 50%;
  margin-top: 10%;
  padding-right: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.homefood{
  width: 180%;
}


.hometitle {
  font-size: 30px;
  font-weight: 700px;
  line-height: 37px;
}

.discritpion{
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  
}
.headerContainer button{
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  color: #101828;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  background-color: #F9B686;
  border: 1px #F9B686;
  box-shadow: 0px 3px 25px rgba(102, 112, 133, 0.25);
  border-radius: 20px;
  height: 54px;
  width: 166px;
  cursor: pointer;
}
.headerContainer button:hover {
  font-family: 'Montserrat', sans-serif;
  background-color: #f1b587;
  cursor: pointer;
  transition: 0.3s ease-in;
}

