*{
  padding: 0;
  margin: 0;
}

nav {
position: relative;
 display:flex;
 justify-content: flex-start;
 align-items: center;
 height: 115px;
 background: #FEFEFE;
 filter: drop-shadow(0px 3px 25px rgba(102, 112, 133, 0.25));
 z-index: 1;
}

.navLinks a{
  position: relative;
  text-decoration: none;
  color:#101828;
  font-weight: 500;
}

.navLinks a::after {
 content: "";
 position: absolute;
 background: rgba(81, 103, 155, 0.5);
 height: 5px;
 left: 0px;
 bottom: -3px;
 border-radius: 20px;
 opacity: 0;
 transition: 0.4s ease-out;
 
}

.navLinks a:hover::after {
  width: 100%;
  height: 5px;
  opacity: 1;

}

ul.navLinks {
  display: flex;
  width: 760px;
  justify-content: space-between;
}

.navLinks{
  
  position: absolute;
  list-style-type: none;
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  right:29px;
  top: 43px;
  margin: 0;
}

a.logo{
  width: 141px;
  height: 70px;
  margin-left: 61px;
  }

  .MenuIcon{
   
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    font-size: 18px;
    
  }

  @media screen and (max-width: 1015px) {
   
    ul.navLinks {
      width: 700px;
      font-size: 2.2rem;
      justify-content: space-evenly;
    }

  }

  @media screen and (max-width: 938px) {

    ul.navLinks {
      width: 650px;
      justify-content: space-evenly;
    }

  }


  @media screen and (max-width: 938px) {

    nav {
      justify-content: center;
    }

    ul.navLinks {
      display: none;
    }
    
    a.logo {
     margin: 0;
    }

    a.logo {
      
 
    }

  }

  @media screen and (max-width: 500px){
    .navLinks {
        flex-direction: column;
        height: auto;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    nav.items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }
}
