

/* THE CARD */
.tile-card-container1{
	width: 33%;
	justify-content: space-between;
	margin: 0%;

}

.tile-card {
	background-color: #FFDBA4;
	border-radius: 20px;
	border: 1px solid rgba(250, 193, 107, 0.5);
	flex-wrap: wrap;
	margin: 35px;

	
}

 .tile-recipeTile-image {
	width: 100%;
	margin-bottom:10px;
	border-radius:20px 20px 0px 0px;

}

.tile-card-body {
  display: flex;
  height: 70px;
  margin-left: 1rem;
}

.tile-card-title{
	font-size: 20px;
	text-align: left;

	
	
}




