

/* THE CARD */
.tile-card-container1{
	width: 400px;
	justify-content: space-evenly;
	margin: 0%;

}

.tile-card-container1{
	cursor: pointer;
}

.tile-card {
	background-color: #FFDBA4;
	border-radius: 20px;
	border: 1px solid rgba(250, 193, 107, 0.5);
	flex-wrap: wrap;
	margin: 35px;
	transition: 300ms ease-in-out;
}

.tile-card:hover {
	box-shadow: rgba(81, 103, 155, 0.3) 0px 0px 0px 5px;
	background-color: rgba(81, 103, 155, 0.3);
}

 .tile-recipeTile-image {
	width: 100%;
	margin-bottom:auto;
	border-radius:20px 20px 0px 0px;

}

.tile-card-body {
  display: flex;
  height: 70px;
  margin-left: 1rem;
	/* margin: 20px; */
}

.tile-card-title{

	font-size: 2rem;
	margin-top: -10px;

	font-size: 20px;
	text-align: left;
	margin: auto;


}




