

*, *:after, *:before {
	box-sizing: border-box;
}



/* THE CARD */

.card {
  flex-basis: 300px;
	flex-shrink: 0;
	flex-grow: 0;
	max-width: 100%;
	background-color: #FFDBA4;
	border-radius: 20px;
	overflow: hidden;
	margin: 1rem;
}

 .card.card-img {
  display: block;
	border: 0;
	width: 100%;
	height: auto;
}

.card-body {
  display: flex;
  justify-content: space-between;
	padding: 1.5rem;
}





