.Background {
  background: rgba(102, 112, 133, 0.25);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* transform: translate(-50%, -50%); */
}

.ModalWrapper{
  width: 80vw;
  height: 70vh;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #FFDBA4;
  color: #000;
  display: flex;  
  z-index: 10;
  border-radius:20px;
  position: relative;
  justify-content: center;
}

.recipe-image {
  max-width: 50%;
  border-radius: 20px 0 0 20px;
  background: #FFDBA4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-image img {
  max-width: 100%;
  border-radius: 50px;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  color: #141414;
  width: 50%;
}

.ModalContent h2 {
  margin: 10px 50px 20px;
  }

.CloseModalButton {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

.EmailIcon{
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 5rem;
  height: 5rem;
  padding: 0;
  z-index: 10;
}

.RecipeIngList{
  list-style: none;
}

.cookingTime
{
  
}

@media screen and (max-width:1050px){
  
  .ModalWrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ModalWrapper img {
   
  }

  .ModalContent {
    width: 100%;
  }

}